
.form{
    position: relative;
}

.tasks{
    border: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.closebtn{
    display: flex;
    border: none;
    width: 25px;
    cursor: pointer;
}

.submit{
    margin-top: 3px;
    padding: 3px;
    display: flex;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 70px;
    left: 50px;
    padding: 2em;
}

.trash{
    color: #444;
}